<h1> Welcome to the Athlete Sponsorship Database </H1>

<h1> Search by: </H1>

<h2> <%= link_to "Athletes", "/athlete" %> </H2>
  <h2> <%= link_to "Brands", "/brand" %> </H1>
    <h2>  <%= link_to "Sports", "/sport" %> </H2>