<!DOCTYPE html>
<html>
<head>
<P ALIGN=Center>
<!-- <p style="font: 40pt barrio regular; font-family: "barrio regular"; color:#29088A; font-weight:bold"> -->
<font face= "copperplate">

Welcome to the Athlete Sponsorship Database  </p> </P>
</font>
</head>

<body>

<div class= "container">
	
	<h1> Search by: </H1>


	<div class = "col-md-4">
		<h2> <%= link_to "Athletes", "/athlete" %> </H2>
	</div>

	<div class = "col-md-4">
 		 <h2> <%= link_to "Brands", "/brand" %> </H1>
 	</div>

 	<div class = "col-md-4">
   		 <h2>  <%= link_to "Sports", "/sport" %> </H2>
 	</div>

 </div>

 </body>
 </html>